<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DATA</title>
</head>
<body>
    <h2>Hot Dog Sales:</h2>

    <table border="1">
<thead><tr><th title="Field #1">Month</th>
<th title="Field #2">Date</th>
<th title="Field #3">Year</th>
<th title="Field #4">Sales</th>
</tr></thead>
<tbody><tr><td>January</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">24474</td>
</tr>
<tr><td>January</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">80204</td>
</tr>
<tr><td>January</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">9106</td>
</tr>
<tr><td>January</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">81679</td>
</tr>
<tr><td>January</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">12182</td>
</tr>
<tr><td>January</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">10006</td>
</tr>
<tr><td>January</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">63778</td>
</tr>
<tr><td>January</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">63206</td>
</tr>
<tr><td>January</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">65408</td>
</tr>
<tr><td>January</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">11981</td>
</tr>
<tr><td>January</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">15814</td>
</tr>
<tr><td>January</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">80607</td>
</tr>
<tr><td>January</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">66264</td>
</tr>
<tr><td>January</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">7838</td>
</tr>
<tr><td>January</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">19359</td>
</tr>
<tr><td>January</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">2736</td>
</tr>
<tr><td>January</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">84576</td>
</tr>
<tr><td>January</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">89420</td>
</tr>
<tr><td>January</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">18227</td>
</tr>
<tr><td>January</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">52998</td>
</tr>
<tr><td>January</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">41217</td>
</tr>
<tr><td>January</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">50605</td>
</tr>
<tr><td>January</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">82608</td>
</tr>
<tr><td>January</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">50595</td>
</tr>
<tr><td>January</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">92340</td>
</tr>
<tr><td>January</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">25576</td>
</tr>
<tr><td>January</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">20678</td>
</tr>
<tr><td>January</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">91242</td>
</tr>
<tr><td>January</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">85733</td>
</tr>
<tr><td>January</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">73527</td>
</tr>
<tr><td>January</td>
<td align="right">31</td>
<td align="right">2012</td>
<td align="right">24414</td>
</tr>
<tr><td>February</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">55702</td>
</tr>
<tr><td>February</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">42807</td>
</tr>
<tr><td>February</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">79080</td>
</tr>
<tr><td>February</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">30002</td>
</tr>
<tr><td>February</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">21505</td>
</tr>
<tr><td>February</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">49158</td>
</tr>
<tr><td>February</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">73901</td>
</tr>
<tr><td>February</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">40736</td>
</tr>
<tr><td>February</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">19208</td>
</tr>
<tr><td>February</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">58164</td>
</tr>
<tr><td>February</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">69108</td>
</tr>
<tr><td>February</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">10180</td>
</tr>
<tr><td>February</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">50230</td>
</tr>
<tr><td>February</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">54524</td>
</tr>
<tr><td>February</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">91028</td>
</tr>
<tr><td>February</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">13390</td>
</tr>
<tr><td>February</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">26012</td>
</tr>
<tr><td>February</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">54273</td>
</tr>
<tr><td>February</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">55032</td>
</tr>
<tr><td>February</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">20674</td>
</tr>
<tr><td>February</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">17306</td>
</tr>
<tr><td>February</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">80537</td>
</tr>
<tr><td>February</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">56539</td>
</tr>
<tr><td>February</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">34147</td>
</tr>
<tr><td>February</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">60032</td>
</tr>
<tr><td>February</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">86420</td>
</tr>
<tr><td>February</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">79590</td>
</tr>
<tr><td>February</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">88898</td>
</tr>
<tr><td>February</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">62467</td>
</tr>
<tr><td>March</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">33648</td>
</tr>
<tr><td>March</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">52541</td>
</tr>
<tr><td>March</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">26143</td>
</tr>
<tr><td>March</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">5765</td>
</tr>
<tr><td>March</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">37870</td>
</tr>
<tr><td>March</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">86033</td>
</tr>
<tr><td>March</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">47251</td>
</tr>
<tr><td>March</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">8386</td>
</tr>
<tr><td>March</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">5721</td>
</tr>
<tr><td>March</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">9700</td>
</tr>
<tr><td>March</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">9654</td>
</tr>
<tr><td>March</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">3364</td>
</tr>
<tr><td>March</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">87405</td>
</tr>
<tr><td>March</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">43901</td>
</tr>
<tr><td>March</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">38560</td>
</tr>
<tr><td>March</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">46637</td>
</tr>
<tr><td>March</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">53178</td>
</tr>
<tr><td>March</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">9353</td>
</tr>
<tr><td>March</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">49404</td>
</tr>
<tr><td>March</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">79354</td>
</tr>
<tr><td>March</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">67162</td>
</tr>
<tr><td>March</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">81721</td>
</tr>
<tr><td>March</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">22370</td>
</tr>
<tr><td>March</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">94557</td>
</tr>
<tr><td>March</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">53557</td>
</tr>
<tr><td>March</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">59107</td>
</tr>
<tr><td>March</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">88644</td>
</tr>
<tr><td>March</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">96339</td>
</tr>
<tr><td>March</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">27100</td>
</tr>
<tr><td>March</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">29829</td>
</tr>
<tr><td>March</td>
<td align="right">31</td>
<td align="right">2012</td>
<td align="right">30493</td>
</tr>
<tr><td>April</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">60697</td>
</tr>
<tr><td>April</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">43526</td>
</tr>
<tr><td>April</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">35103</td>
</tr>
<tr><td>April</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">44919</td>
</tr>
<tr><td>April</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">56258</td>
</tr>
<tr><td>April</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">71815</td>
</tr>
<tr><td>April</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">28585</td>
</tr>
<tr><td>April</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">93293</td>
</tr>
<tr><td>April</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">73057</td>
</tr>
<tr><td>April</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">31760</td>
</tr>
<tr><td>April</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">12497</td>
</tr>
<tr><td>April</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">55183</td>
</tr>
<tr><td>April</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">84307</td>
</tr>
<tr><td>April</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">70562</td>
</tr>
<tr><td>April</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">28855</td>
</tr>
<tr><td>April</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">97071</td>
</tr>
<tr><td>April</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">35229</td>
</tr>
<tr><td>April</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">6793</td>
</tr>
<tr><td>April</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">43227</td>
</tr>
<tr><td>April</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">84518</td>
</tr>
<tr><td>April</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">69680</td>
</tr>
<tr><td>April</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">64879</td>
</tr>
<tr><td>April</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">21239</td>
</tr>
<tr><td>April</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">33126</td>
</tr>
<tr><td>April</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">42601</td>
</tr>
<tr><td>April</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">13102</td>
</tr>
<tr><td>April</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">70735</td>
</tr>
<tr><td>April</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">16777</td>
</tr>
<tr><td>April</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">92367</td>
</tr>
<tr><td>April</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">24384</td>
</tr>
<tr><td>May</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">47711</td>
</tr>
<tr><td>May</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">75818</td>
</tr>
<tr><td>May</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">58578</td>
</tr>
<tr><td>May</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">66474</td>
</tr>
<tr><td>May</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">97174</td>
</tr>
<tr><td>May</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">5014</td>
</tr>
<tr><td>May</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">60816</td>
</tr>
<tr><td>May</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">49083</td>
</tr>
<tr><td>May</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">88602</td>
</tr>
<tr><td>May</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">53577</td>
</tr>
<tr><td>May</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">70293</td>
</tr>
<tr><td>May</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">30250</td>
</tr>
<tr><td>May</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">57208</td>
</tr>
<tr><td>May</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">80349</td>
</tr>
<tr><td>May</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">37318</td>
</tr>
<tr><td>May</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">88631</td>
</tr>
<tr><td>May</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">81769</td>
</tr>
<tr><td>May</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">6487</td>
</tr>
<tr><td>May</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">2421</td>
</tr>
<tr><td>May</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">3488</td>
</tr>
<tr><td>May</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">35609</td>
</tr>
<tr><td>May</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">9197</td>
</tr>
<tr><td>May</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">83358</td>
</tr>
<tr><td>May</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">64114</td>
</tr>
<tr><td>May</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">71780</td>
</tr>
<tr><td>May</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">91765</td>
</tr>
<tr><td>May</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">81051</td>
</tr>
<tr><td>May</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">80433</td>
</tr>
<tr><td>May</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">3945</td>
</tr>
<tr><td>May</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">29641</td>
</tr>
<tr><td>May</td>
<td align="right">31</td>
<td align="right">2012</td>
<td align="right">41861</td>
</tr>
<tr><td>June</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">61771</td>
</tr>
<tr><td>June</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">5680</td>
</tr>
<tr><td>June</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">67106</td>
</tr>
<tr><td>June</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">26930</td>
</tr>
<tr><td>June</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">54861</td>
</tr>
<tr><td>June</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">4663</td>
</tr>
<tr><td>June</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">73603</td>
</tr>
<tr><td>June</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">42765</td>
</tr>
<tr><td>June</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">83370</td>
</tr>
<tr><td>June</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">45251</td>
</tr>
<tr><td>June</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">3781</td>
</tr>
<tr><td>June</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">47647</td>
</tr>
<tr><td>June</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">64986</td>
</tr>
<tr><td>June</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">96426</td>
</tr>
<tr><td>June</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">11844</td>
</tr>
<tr><td>June</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">10011</td>
</tr>
<tr><td>June</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">8682</td>
</tr>
<tr><td>June</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">61163</td>
</tr>
<tr><td>June</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">94072</td>
</tr>
<tr><td>June</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">73024</td>
</tr>
<tr><td>June</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">73545</td>
</tr>
<tr><td>June</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">7525</td>
</tr>
<tr><td>June</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">81464</td>
</tr>
<tr><td>June</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">69558</td>
</tr>
<tr><td>June</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">32426</td>
</tr>
<tr><td>June</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">62635</td>
</tr>
<tr><td>June</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">12524</td>
</tr>
<tr><td>June</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">73023</td>
</tr>
<tr><td>June</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">10523</td>
</tr>
<tr><td>June</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">81843</td>
</tr>
<tr><td>July</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">68339</td>
</tr>
<tr><td>July</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">40923</td>
</tr>
<tr><td>July</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">16868</td>
</tr>
<tr><td>July</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">67669</td>
</tr>
<tr><td>July</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">85046</td>
</tr>
<tr><td>July</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">60660</td>
</tr>
<tr><td>July</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">30883</td>
</tr>
<tr><td>July</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">65105</td>
</tr>
<tr><td>July</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">34684</td>
</tr>
<tr><td>July</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">12648</td>
</tr>
<tr><td>July</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">71705</td>
</tr>
<tr><td>July</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">27043</td>
</tr>
<tr><td>July</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">49172</td>
</tr>
<tr><td>July</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">44399</td>
</tr>
<tr><td>July</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">34325</td>
</tr>
<tr><td>July</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">11833</td>
</tr>
<tr><td>July</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">9958</td>
</tr>
<tr><td>July</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">34518</td>
</tr>
<tr><td>July</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">70718</td>
</tr>
<tr><td>July</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">91469</td>
</tr>
<tr><td>July</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">86275</td>
</tr>
<tr><td>July</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">42243</td>
</tr>
<tr><td>July</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">75650</td>
</tr>
<tr><td>July</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">89932</td>
</tr>
<tr><td>July</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">85816</td>
</tr>
<tr><td>July</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">46426</td>
</tr>
<tr><td>July</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">30327</td>
</tr>
<tr><td>July</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">95974</td>
</tr>
<tr><td>July</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">99807</td>
</tr>
<tr><td>July</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">34198</td>
</tr>
<tr><td>July</td>
<td align="right">31</td>
<td align="right">2012</td>
<td align="right">52907</td>
</tr>
<tr><td>August</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">70529</td>
</tr>
<tr><td>August</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">76972</td>
</tr>
<tr><td>August</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">55052</td>
</tr>
<tr><td>August</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">38956</td>
</tr>
<tr><td>August</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">25518</td>
</tr>
<tr><td>August</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">66984</td>
</tr>
<tr><td>August</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">24217</td>
</tr>
<tr><td>August</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">45588</td>
</tr>
<tr><td>August</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">75129</td>
</tr>
<tr><td>August</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">94474</td>
</tr>
<tr><td>August</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">64270</td>
</tr>
<tr><td>August</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">35956</td>
</tr>
<tr><td>August</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">2684</td>
</tr>
<tr><td>August</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">41119</td>
</tr>
<tr><td>August</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">92542</td>
</tr>
<tr><td>August</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">67714</td>
</tr>
<tr><td>August</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">87523</td>
</tr>
<tr><td>August</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">90693</td>
</tr>
<tr><td>August</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">89775</td>
</tr>
<tr><td>August</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">80698</td>
</tr>
<tr><td>August</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">98814</td>
</tr>
<tr><td>August</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">66945</td>
</tr>
<tr><td>August</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">41767</td>
</tr>
<tr><td>August</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">39682</td>
</tr>
<tr><td>August</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">28052</td>
</tr>
<tr><td>August</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">88249</td>
</tr>
<tr><td>August</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">12143</td>
</tr>
<tr><td>August</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">11974</td>
</tr>
<tr><td>August</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">30742</td>
</tr>
<tr><td>August</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">11199</td>
</tr>
<tr><td>August</td>
<td align="right">31</td>
<td align="right">2012</td>
<td align="right">43789</td>
</tr>
<tr><td>September</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">83627</td>
</tr>
<tr><td>September</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">23287</td>
</tr>
<tr><td>September</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">65643</td>
</tr>
<tr><td>September</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">68098</td>
</tr>
<tr><td>September</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">5667</td>
</tr>
<tr><td>September</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">59086</td>
</tr>
<tr><td>September</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">71413</td>
</tr>
<tr><td>September</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">97690</td>
</tr>
<tr><td>September</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">92404</td>
</tr>
<tr><td>September</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">8890</td>
</tr>
<tr><td>September</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">5924</td>
</tr>
<tr><td>September</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">28861</td>
</tr>
<tr><td>September</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">4611</td>
</tr>
<tr><td>September</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">71541</td>
</tr>
<tr><td>September</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">19963</td>
</tr>
<tr><td>September</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">61114</td>
</tr>
<tr><td>September</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">21775</td>
</tr>
<tr><td>September</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">34580</td>
</tr>
<tr><td>September</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">82529</td>
</tr>
<tr><td>September</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">95429</td>
</tr>
<tr><td>September</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">67020</td>
</tr>
<tr><td>September</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">12459</td>
</tr>
<tr><td>September</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">37319</td>
</tr>
<tr><td>September</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">4144</td>
</tr>
<tr><td>September</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">23285</td>
</tr>
<tr><td>September</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">73616</td>
</tr>
<tr><td>September</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">17537</td>
</tr>
<tr><td>September</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">69926</td>
</tr>
<tr><td>September</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">88473</td>
</tr>
<tr><td>September</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">86424</td>
</tr>
<tr><td>October</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">70014</td>
</tr>
<tr><td>October</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">74682</td>
</tr>
<tr><td>October</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">91712</td>
</tr>
<tr><td>October</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">37298</td>
</tr>
<tr><td>October</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">61973</td>
</tr>
<tr><td>October</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">55169</td>
</tr>
<tr><td>October</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">84121</td>
</tr>
<tr><td>October</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">8430</td>
</tr>
<tr><td>October</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">11569</td>
</tr>
<tr><td>October</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">20879</td>
</tr>
<tr><td>October</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">5369</td>
</tr>
<tr><td>October</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">95384</td>
</tr>
<tr><td>October</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">32774</td>
</tr>
<tr><td>October</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">69039</td>
</tr>
<tr><td>October</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">32336</td>
</tr>
<tr><td>October</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">77890</td>
</tr>
<tr><td>October</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">93618</td>
</tr>
<tr><td>October</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">11200</td>
</tr>
<tr><td>October</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">24614</td>
</tr>
<tr><td>October</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">54514</td>
</tr>
<tr><td>October</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">7775</td>
</tr>
<tr><td>October</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">90909</td>
</tr>
<tr><td>October</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">29704</td>
</tr>
<tr><td>October</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">86816</td>
</tr>
<tr><td>October</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">93304</td>
</tr>
<tr><td>October</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">70665</td>
</tr>
<tr><td>October</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">84045</td>
</tr>
<tr><td>October</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">22453</td>
</tr>
<tr><td>October</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">25164</td>
</tr>
<tr><td>October</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">41272</td>
</tr>
<tr><td>October</td>
<td align="right">31</td>
<td align="right">2012</td>
<td align="right">76330</td>
</tr>
<tr><td>November</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">65177</td>
</tr>
<tr><td>November</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">34464</td>
</tr>
<tr><td>November</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">19248</td>
</tr>
<tr><td>November</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">2019</td>
</tr>
<tr><td>November</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">12607</td>
</tr>
<tr><td>November</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">17282</td>
</tr>
<tr><td>November</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">41124</td>
</tr>
<tr><td>November</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">56844</td>
</tr>
<tr><td>November</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">32438</td>
</tr>
<tr><td>November</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">31218</td>
</tr>
<tr><td>November</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">19699</td>
</tr>
<tr><td>November</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">61609</td>
</tr>
<tr><td>November</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">61047</td>
</tr>
<tr><td>November</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">46220</td>
</tr>
<tr><td>November</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">80317</td>
</tr>
<tr><td>November</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">67435</td>
</tr>
<tr><td>November</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">12982</td>
</tr>
<tr><td>November</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">74070</td>
</tr>
<tr><td>November</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">39831</td>
</tr>
<tr><td>November</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">62063</td>
</tr>
<tr><td>November</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">62704</td>
</tr>
<tr><td>November</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">70142</td>
</tr>
<tr><td>November</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">2126</td>
</tr>
<tr><td>November</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">84118</td>
</tr>
<tr><td>November</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">40739</td>
</tr>
<tr><td>November</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">69856</td>
</tr>
<tr><td>November</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">76130</td>
</tr>
<tr><td>November</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">57898</td>
</tr>
<tr><td>November</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">89736</td>
</tr>
<tr><td>November</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">68391</td>
</tr>
<tr><td>December</td>
<td align="right">1</td>
<td align="right">2012</td>
<td align="right">26011</td>
</tr>
<tr><td>December</td>
<td align="right">2</td>
<td align="right">2012</td>
<td align="right">16971</td>
</tr>
<tr><td>December</td>
<td align="right">3</td>
<td align="right">2012</td>
<td align="right">25681</td>
</tr>
<tr><td>December</td>
<td align="right">4</td>
<td align="right">2012</td>
<td align="right">80300</td>
</tr>
<tr><td>December</td>
<td align="right">5</td>
<td align="right">2012</td>
<td align="right">95894</td>
</tr>
<tr><td>December</td>
<td align="right">6</td>
<td align="right">2012</td>
<td align="right">18052</td>
</tr>
<tr><td>December</td>
<td align="right">7</td>
<td align="right">2012</td>
<td align="right">29462</td>
</tr>
<tr><td>December</td>
<td align="right">8</td>
<td align="right">2012</td>
<td align="right">21172</td>
</tr>
<tr><td>December</td>
<td align="right">9</td>
<td align="right">2012</td>
<td align="right">40126</td>
</tr>
<tr><td>December</td>
<td align="right">10</td>
<td align="right">2012</td>
<td align="right">90143</td>
</tr>
<tr><td>December</td>
<td align="right">11</td>
<td align="right">2012</td>
<td align="right">70657</td>
</tr>
<tr><td>December</td>
<td align="right">12</td>
<td align="right">2012</td>
<td align="right">94530</td>
</tr>
<tr><td>December</td>
<td align="right">13</td>
<td align="right">2012</td>
<td align="right">35717</td>
</tr>
<tr><td>December</td>
<td align="right">14</td>
<td align="right">2012</td>
<td align="right">48963</td>
</tr>
<tr><td>December</td>
<td align="right">15</td>
<td align="right">2012</td>
<td align="right">24154</td>
</tr>
<tr><td>December</td>
<td align="right">16</td>
<td align="right">2012</td>
<td align="right">76285</td>
</tr>
<tr><td>December</td>
<td align="right">17</td>
<td align="right">2012</td>
<td align="right">5849</td>
</tr>
<tr><td>December</td>
<td align="right">18</td>
<td align="right">2012</td>
<td align="right">98707</td>
</tr>
<tr><td>December</td>
<td align="right">19</td>
<td align="right">2012</td>
<td align="right">96110</td>
</tr>
<tr><td>December</td>
<td align="right">20</td>
<td align="right">2012</td>
<td align="right">51004</td>
</tr>
<tr><td>December</td>
<td align="right">21</td>
<td align="right">2012</td>
<td align="right">33130</td>
</tr>
<tr><td>December</td>
<td align="right">22</td>
<td align="right">2012</td>
<td align="right">42711</td>
</tr>
<tr><td>December</td>
<td align="right">23</td>
<td align="right">2012</td>
<td align="right">82156</td>
</tr>
<tr><td>December</td>
<td align="right">24</td>
<td align="right">2012</td>
<td align="right">42705</td>
</tr>
<tr><td>December</td>
<td align="right">25</td>
<td align="right">2012</td>
<td align="right">75018</td>
</tr>
<tr><td>December</td>
<td align="right">26</td>
<td align="right">2012</td>
<td align="right">15752</td>
</tr>
<tr><td>December</td>
<td align="right">27</td>
<td align="right">2012</td>
<td align="right">63122</td>
</tr>
<tr><td>December</td>
<td align="right">28</td>
<td align="right">2012</td>
<td align="right">24971</td>
</tr>
<tr><td>December</td>
<td align="right">29</td>
<td align="right">2012</td>
<td align="right">9580</td>
</tr>
<tr><td>December</td>
<td align="right">30</td>
<td align="right">2012</td>
<td align="right">26948</td>
</tr>
<tr><td>December</td>
<td align="right">31</td>
<td align="right">2012</td>
<td align="right">45512</td>
</tr>
</tbody></table>
</body>
</html>