{% extends "Weather/baseloggedin.html" %}
{% block content %}

{% if is_auth %}
    <div style="float: right;">
    Welcome ! {{ first_name }}
     <a href="/accounts/logout/">Logout</a> |
     </div>
    {% else %}
    <div style="height:50px;float: right">
    <a href="/accounts/login" style="text-decoration: none">Sign In</a> |
    <a href="/accounts/register">Create account</a> |
    </div>
    {% endif %}
     <div >
    <h1>Enter New Details!</h1><br/>
<div style="padding-left: 5em">
     <form action="/Weather/edituser/" method="post">{% csrf_token %}

         <label for="nfname">First Name: </label>
         &nbsp;&nbsp;<input type="text" value="" name="nfname"><br/><br/>

         <label for="nfname">Last Name: </label>
         &nbsp;&nbsp;<input type="text" value="" name="nlname"><br/><br/>

         <label for="ncity"> City: </label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;<input type="text" value="" name="ncity"><br/><br/>

         <input type="submit" value="Submit"/>
     </form>
</div>
          <script>
    $('body').css('background', 'url(/static/weather/images/base.jpg) no-repeat');
    </script>
{% endblock %}