{% extends "Weather/base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <div style="float: right;">
     <a href="/accounts/logout/">Logout</a>
     </div>
    {% else %}
    <div style="height:50px;float: right">
    <a href="/accounts/login" style="text-decoration: none">Sign In</a> |
    <a href="/accounts/register">Create account</a> |
    </div>
    {% endif %}
    <div style="height: 30px;width: 100%;"> <h3>Around United States - Check Weather</h3>
    </div>
    <div>
    <table>
        <tbody>
        <tr name="chicago"><td> <a href="/Weather/area">Chicago</a> </td>
        <tr><td><a href="/Weather/newy">New York</a></td></tr>
        <tr><td><a href="/Weather/losa">Los Angeles</a></td></tr>
        <tr><td><a href="/Weather/hous">Houston</a></td></tr>
        <tr><td><a href="/Weather/sanf">San Francisco</a></td></tr>
        <tr><td><a style="text-decoration: underline" href="/Weather/area">Current Location</a></td></tr>
        </tbody>
    </table>
    </div>
<script>
    $('body').css('background', 'url(/static/weather/images/base.jpg) no-repeat');

</script>

{% endblock %}