{% extends "Weather/baseloggedin.html" %}
{% block content %}


{% if user.is_authenticated %}
    <div style="float: right;">
    Welcome ! {{ full_name }} |
     <a href="/accounts/logout/">Logout</a> |
     </div>
    {% else %}
    <div style="height:50px;float: right">
    <a href="/accounts/login" style="text-decoration: none">Sign In</a> |
    <a href="/accounts/register">Create an account</a> |
    </div>
    {% endif %}

<div id="block2">
    <h1> {{ ryahoho.title }}</h1>
    <h3>Last Updated on {{ ryahoho.condition.date }} </h3>
    {% autoescape off %}
        {{ ryahoho.html_description }}
    {% endautoescape %}
    </div>



    <div id="block2"> <h1>From Weather.com - {{ rweatho.location.name }}</h1>
        Last Updated on {{ rweatho.current_conditions.last_updated }}
    <img src="http://s.imwx.com/v.20131006.214956/img/wxicon/120/{{ rweatho.current_conditions.icon }}.png"/><br/>

    <h3>Forecast :</h3>

   <b>  Current Conditions: {{ rweatho.current_conditions.text }}</b> <br/>
        <b>Temperature : {{ rweatho.current_conditions.temperature}} C</b>
    </div>

    <h1>From NOAA - Houston, TX USA </h1>
               <br/>
        {{ rnoaaho.observation_time }} <br/>
        <img src="{{ rnoaaho.icon_url_base }}{{rnoaaho.icon_url_name }}" alt="icon"/><br/>
        <h3>Forecast :</h3>
        <b>  Current Conditions: {{ rnoaaho.weather }} </b>

        <br/>
        <b>Temperature : {{ rnoaaho.temperature_string}} </b><br>
    <b><a href="{{ rnoaaho.two_day_history_url }}"> Two days history</a></b>


    </div>


    <script>
    $('body').css('background', 'url(/static/weather/images/7.jpg) no-repeat');
    </script>
{% endblock %}