{% extends "Weather/base.html" %}
{% block content %}


{% if user.is_authenticated %}
    <div style="float: right;">
     <a href="/accounts/logout/">Logout</a> |
     </div>
    {% else %}
    <div style="height:50px;float: right">
    <a href="/accounts/login" style="text-decoration: none">Sign In</a> |
    <a href="/accounts/register">Create account</a> |
    </div>
    {% endif %}

<div id="block2">
    <h1> {{ ryaholo.title }}</h1>
    <h3>Last Updated on {{ ryaholo.condition.date }} </h3>
    {% autoescape off %}
        {{ ryaholo.html_description }}
    {% endautoescape %}
    </div>



    <div id="block2"> <h1>From Weather.com - {{ rweatlo.location.name }}</h1>
        Last Updated on {{ rweatlo.current_conditions.last_updated }}
    <img src="http://s.imwx.com/v.20131006.214956/img/wxicon/120/{{ rweatlo.current_conditions.icon }}.png"/><br/>

    <h3>Forecast :</h3>

   <b>  Current Conditions: {{rweatlo.current_conditions.text }}</b> <br/>
        <b>Temperature : {{ rweatlo.current_conditions.temperature}} C</b>
    </div>

    <h1>From NOAA - Los Angeles </h1>
               <br/>
        {{ rnoaalo.observation_time }} <br/>
        <img src="{{ rnoaalo.icon_url_base }}{{rnoaalo.icon_url_name }}" alt="icon"/><br/>
        <h3>Forecast :</h3>
        <b>  Current Conditions: {{ rnoaalo.weather }} </b>

        <br/>
        <b>Temperature : {{ rnoaalo.temperature_string}} </b><br>
    <b><a href="{{ rnoaalo.two_day_history_url }}"> Two days history</a></b>


    </div>


    <script>
    $('body').css('background', 'url(/static/weather/images/6.jpg) no-repeat');
    </script>
{% endblock %}