{% extends "Weather/baseloggedin.html" %}
{% block content %}


    {% if user.is_authenticated %}
        <div style="float: right;">
        Welcome ! {{ full_name }} |
         <a href="/accounts/logout/">Logout</a> |
         </div>
        {% else %}
        <div style="height:50px;float: right">
        <a href="/accounts/login" style="text-decoration: none">Sign In</a> |
        <a href="/accounts/register">Create account</a> |
        </div>
        {% endif %}

<div id="block2">
    <h1> {{ ryahosa.title }}</h1>
    <h3>Last Updated on {{ ryahosa.condition.date }} </h3>
    {% autoescape off %}
        {{ ryahosa.html_description }}
    {% endautoescape %}
    </div>



    <div id="block2"> <h1>From Weather.com - {{ rweatsa.location.name }}</h1>
        Last Updated on {{ rweatsa.current_conditions.last_updated }}
    <img src="http://s.imwx.com/v.20131006.214956/img/wxicon/120/{{ rweatsa.current_conditions.icon }}.png"/><br/>

    <h3>Forecast :</h3>

   <b>  Current Conditions: {{ rweatsa.current_conditions.text }}</b> <br/>
        <b>Temperature : {{ rweatsa.current_conditions.temperature}} C</b>
    </div>

    <h1>From NOAA - San Francisco, CA USA </h1>
               <br/>
        {{ rnoaaho.observation_time }} <br/>
        <img src="{{ rnoaasa.icon_url_base }}{{rnoaasa.icon_url_name }}" alt="icon"/><br/>
        <h3>Forecast :</h3>
        <b>  Current Conditions: {{ rnoaasa.weather }} </b>

        <br/>
        <b>Temperature : {{ rnoaasa.temperature_string}} </b><br>
    <b><a href="{{ rnoaasa.two_day_history_url }}"> Two days history</a></b>


    </div>


    <script>
    $('body').css('background', 'url(/static/weather/images/8.jpg) no-repeat');
    </script>
{% endblock %}